[Desktop Entry]
Exec=/home/abo3aisha/.config/autostart-pipewire-fix.sh
Icon=text-x-script
Name=autostart-pipewire-fix.sh
Type=Application
X-KDE-AutostartScript=true
